<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/admin" class='ksj'>admin</span>
    <span><mat-icon class="icon" routerLink="/admin/newParty">library_music</mat-icon></span>
    <span><mat-icon class="icon" routerLink="/admin/csvUpload">library_add</mat-icon></span>
    
    
    
    <span class="spacer"></span>
    <span><mat-icon class="icon" routerLink="/admin/requestManager">queue_music</mat-icon></span>
    
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>